<div class=container>

  <div class="ascii">
  ____
<button data-audio-url="D4.wav" class=audio-btn>q<audio type="audio/wav" id="string_4"></audio></button> o o <button data-audio-url="G3.wav" class=audio-btn>p</button><audio type="audio/wav" id="string_3"></audio>
<button data-audio-url="A5.wav" class=audio-btn>q</button><audio type="audio/wav" id="string_5"></audio> o!o </button><button data-audio-url="https://salty-reaches-44269.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--0eaa076a91e194c0db895307e15791152fffe909/B2.wav" class=audio-btn>p</button><audio type="audio/wav" id="string_2"></audio>
<button data-audio-url="file://6c341e16-b56a-4333-83f1-5f30c9b14bc0.wav" class=audio-btn>d</button><audio type="audio/wav" id="string_6"></audio> o!o </button><button data-audio-url="e1.wav" class=audio-btn>b</button><audio type="audio/wav" id="string_1"></audio>
\!!!!!!!/
|===|
|!!!!!!|
|!!!!!!|
|!!!!!!|
  </div>


<div class=ERB>
  <% context1 = Chromaprint::Context.new(44100, 1)
  data1 = File.binread('E6-+2.wav')
  fingerprint1 = context1.get_fingerprint(data1)

  context2     = Chromaprint::Context.new(44100, 1)
  data2 = File.binread('E6-+1.wav')
  fingerprint2 = context2.get_fingerprint(data2) 

  context3 = Chromaprint::Context.new(44100, 1)
  data3 = File.binread('E6.wav')
  fingerprint3 = context3.get_fingerprint(data3) 

  context4 = Chromaprint::Context.new(44100, 1)
  data4 = File.binread('E6--1.wav')
  fingerprint4 = context4.get_fingerprint(data4) 

  context5 = Chromaprint::Context.new(44100, 1)
  data5 = File.binread('E6--2.wav')
  fingerprint5 = context5.get_fingerprint(data5) %>

  <%= fingerprint3.compare(fingerprint1).round(2)*100 %>
  <%= fingerprint3.compare(fingerprint2).round(2)*100 %>
  <%= fingerprint3.compare(fingerprint3).round(2)*100 %>
  <%= fingerprint3.compare(fingerprint4).round(2)*100 %>
  <%= fingerprint3.compare(fingerprint5).round(2)*100 %>
</div>
<canvas id="canvas" width="640" height="480"></canvas>
<div>
  <script type="text/javascript">
    var line = document.getElementById('canvas').getContext("2d");
    line.beginPath();
    line.lineWidth = 10;
    line.moveTo(0, 0);
    line.lineTo(0, 200);
    line.strokeStyle = "red";
    line.stroke();
  </script>
</div>

<script type="text/javascript">
    // var c = document.getElementById('canvas')
    // c.addEventListener("click", function(){
    // c.style.transform = "skew(-30deg)";
    // });
    var c = $("#canvas");
    c.on("click", function() {
      c.toggleClass("rotate");
    });
</script>



</div>
<!-- <script type="text/javascript">console.clear();</script> -->
